<div class="flex flex-col gap-3 py-5 border-2 border-black px-5">
  <h2 class="text-xl font-bold">{{ this.listOf.name }}</h2>
  <div
    class="flex flex-col gap-2 min-h-80"
    cdkDropList
    [cdkDropListData]="listOf.cards"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    >
    <!-- (cdkDropListDropped)="drop($event)" -->
    <p
      *ngFor="let card of this.listOf.cards"
      class="flex w-72 h-14 justify-center items-center bg-cyan-100"
    >
      {{ card.name }}
    </p>
  </div>
</div>
<!-- <div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>
</div> -->
